<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN0yJZD_DI071G9V2yHVy3MJoY7qiDi_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>519764547564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kasabovDgtu</string>
	<key>PROJECT_ID</key>
	<string>kasabov-dgtu</string>
	<key>STORAGE_BUCKET</key>
	<string>kasabov-dgtu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519764547564:ios:d740b731c20547ebd952c9</string>
</dict>
</plist>